/* task_1 */
.task1 {
    display: block;
    width: 500px;
    height: 100px;
    background: white;
    border: 1px red solid;
    transition: 2s;
}
.task1:hover {
    background: red;
    transition: 2s;
}
/* task_2 */
.task2 {
    width: 500px;
    height: 100px;
    background: white;
    color: red;
    border: 1px red solid;
    transition: 2s;
}
.text2 {
    color: red;
    transition: 2s;
}
.task2:hover {
    background: red;
    color: white;
    transition: 2s;
}
/* task_3 */
.task3 {
    width: 32%;
    height: 50px;
    background: white;
    border: 1px red solid;
    transition: 2s;
} 

.task3:hover {
    width: 97%;
    transition: 2s;
}
/* task_4 */
.task4 {
    font-size: 14px;
    color: red;
    transition: 2s;
}

.task4:hover {
    width: 97%;
    font-size: 30px;
    transition: 2s;
    
}
/* task5 */
.task5 {
    width: 32%;
    height: 50px;
    background: white;
    border: 1px red solid;
    transition: 2s;
}

.task5:hover {
    width: 60%;
    transform: translateX(30%);
    transition: 2s;
}
/* task6 */
.wband.task6 {
    margin-left: 30px;
}
.wband {
    margin-left: 2%;
    width: 32%;
    height: 50px;
    background: none;
    border: 1px red solid;
    transition: 2s;
}
.box6 {
    width: 65%;
    margin-right: 20%;
    overflow-x: hidden;

}
.fly {
    width: 140%;
    margin: 15px;
    margin-left: 1800px;
    transition: 2s; 
}
.task6:hover .fly {
    
    text-align: left;
    line-height: 15px;
    margin-left: 40%;
    transition: 2s;
}

/* task7 */
.task7:hover {
    width: 97%;
    transition: 3s;
    transition-delay: 1s;
    
}
/* task8 */
.task8 {
    width: 370px;
    height: 40px;
    padding-left: 30px;
    transition: 2s;
    background: rgb(243, 165, 165);
}
input {
    transition: 1s
    }
input:focus {
    width: 98%;
    outline: 2px solid black;
    border: 1px solid black;
    box-shadow: 2px 0 5px black;
    transition: 1s 
}

/* task9 */
.wrap {
    border: 1px solid green;
    padding: 30px;
    padding-left: 20px;
}

.band {
    height: 30px;
    width: 250px;
    margin: 30px;
    width: 32%;
    height: 50px;
    background: white;
    border: 1px red solid;
    transition: 2s;
}
.wrap:hover .band {
    width: 90%;
    transition: 2s;
}
/* task10 */
.task10 .band:hover +.band {
    width: 70%;
    transition: 2s;
}
/* task11 */
.task11 .band:hover ~.band {
    width: 70%;
    transition: 2s;
}
/* task12 */
.task12 {
    width: 1550px;
    height: 700px;
    border: 1px solid blue;
}
.task12:hover div {
    width: 70%;
    transition: 2s;
}
/* task13 */
.wrap13 {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.task13 {
    width: 450px;
    height: 30px;
    padding: 15px;
    margin-left: 15%;
}
.prompt {
    width: 250px;
    height: 25px;
    background: rgb(219, 74, 74);
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-right: 800px;
}
.task13:hover +.prompt{
    margin-right: 320%;
    translate: 800px;
    transition: 1s;
} 
/* task14 */
.wrap14 {
    width: 500px;
    height: 118px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.wrap14 .task14 {
    margin: 0;
    transition: 3s;
}
.wrap14 .task14 {
    margin-bottom: 15px;
}

.wrap14:hover .task14:first-child {
    width: 100%;
    transition: 3s;
    transition-timing-function: steps(6, start);
}
.wrap14:hover .task14:nth-child(2) {
    width: 100%;
    transition: 3s;
    transition-delay: 0.5s;
    transition-timing-function: steps(6, start);
}
/* task15 */
.task15:hover {
    width: 97%;
    transition: 3s cubic-bezier(.20,-0.4,0,.81);
}
/* task16 */
.indicator {
    width: 100%;
    height: 50px;
    background: red;
    translate: -502px;
    
}
.task16 {
    overflow: hidden;
}

.task16:hover .indicator {
    translate: 0;
    transition: 3s;
}
/* task17 */
.task17 {
    overflow: hidden;
}
.task17:hover .indicator {
    translate: 0;
    transition: 3s;
    transition-timing-function: steps(8, start);
}
    /* task18 */
.wrap18 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 300px;
    margin-left: 30px;
    /* border: 1px solid green; */
    
}
.task18 {
    width: 100px;
    height: 50px;
    border: 1px solid red;
    margin-left: 200px;
    box-shadow: -100px 80px 0px red, 100px -80px 0px black;
    transition: 2s;
}
.task18:hover {
    box-shadow: 100px 80px 0px black, 100px 80px 0px black;
    transition: 2s;
}

